.bi {
  font-size: 2rem;
  cursor: pointer;
}
.bi:hover {
  animation: rotate-scale-up 0.65s linear both;
}
.calculator {
  width: 350px;
  min-height: 500px;
  border-radius: 1rem;
  /* padding: 0.5rem; */
}
.section {
  margin-top: 10%;
}
.result-wrapper {
  margin: 0 auto;
  direction: rtl;
  min-height: 5rem;
  border-radius: 1rem;
}
.result {
  font-size: 2rem;
}
.result-calc {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}
.operands * {
  border-radius: 1rem;
  cursor: pointer;
  min-height: 80px;
}
.operands *:hover {
  scale: 0.99;
  box-shadow: 0 0 5px white;
}
/** Animations */

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
