.bi {
  font-size: 2rem;
  cursor: pointer;
}
.bi:hover {
  animation: rotate-scale-up 0.65s linear both;
}
.calculator {
  width: 300px;
  min-height: 500px;
  border-radius: 1rem;
  border: 1px solid red;
}
.section {
  margin-top: 10%;
}
.result-wrapper {
  margin: 5px auto;
  direction: rtl;
  width: 92%;
  min-height: 5rem;
  border-radius: 1rem;
  background-color: aliceblue;
  color: black;
}
.result-calc {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

/** Animations */

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
